#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout {
    background: #fff;
  }
  
  .site-layout-background {
    background: #ff4c1c;
  }
  
  .ant-layout-sider-trigger {
    background-color: #ff4c1c;
  }
  
  .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #ff4c1c;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }